{{ $url := "https://www.linkedin.com/sharing/share-offsite/?url=" }}
{{ $url = printf "%s%s" $url (trim .Page.Permalink "/") }}
<span class="mb-[2px]">
  <a
    href="{{ $url }}"
    class="text-lg hover:text-primary-500"
    rel="noopener noreferrer"
    target="_blank"
    title="{{ i18n "article.edit_title" }}"
    ><span class="inline-block align-text-bottom">{{ partial "icon.html" "linkedin" }}</span></a
  >
</span>
{{- /* Trim EOF */ -}}
