<div
  id="sliderzoom-wrapper"
  class="invisible fixed inset-0 flex h-screen w-screen cursor-default flex-col bg-neutral-500/50 p-4 backdrop-blur-sm dark:bg-neutral-900/50 sm:p-6 md:p-[10vh] lg:p-[12vh]"
  style="--clicked:false;z-index:500;padding:0">

  <div class="fs-img-comp-container" style="--img0:None;margin:auto;">
    <div class="fs-img-comp-img">
      <img id="fs-slider-base" src="" width="800">
    </div>
    <div class="fs-img-comp-img fs-img-comp-overlay"> 
      <img id="fs-slider-overlay" src="" width="800">
    </div>
  </div>


</div>
