<style>
.detailsinpost {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
}

.detailsinpost[open] {
    padding: 0.5em;
}

.detailsinpost[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
</style>

<details class="detailsinpost">
    <summary>{{ (.Get 0) | markdownify }}</summary>
    {{ .Inner | markdownify }}
  </details>